# Chapter 4: Functions and Loops
#### 3 types of Functions
1) Pre-defined functions - it's an inbuilt functions which gets installed in my local machne when installing anaconda navigator.
2) User-defined functions - its not an inbuilt function. Its user defined function
3) Anonymous functons

In [1]:
# 1) Pre-defined
len('HI HELLO')

8

In [9]:
# 2) User-defined
def printing():
    print("printing")

In [10]:
printing()

printing

In [11]:
def number(a,b):
    return a + b

In [12]:
number(4,5)

9

In [13]:
###### Create a function with 3 argument of diff data types which returns  a statement
def numbers(a,b,c):
    print('The data types of a, b, c are: ')
    return type(a), type(b), type(c)

In [14]:
numbers(2,2.5,7)

The data types of a, b, c are:

(int, float, int)

In [15]:
numbers(b=4, a=7.8, c=5.6)

The data types of a, b, c are:

(float, int, float)

In [16]:
def details(name, age, company='Microsoft'):
    print('Name: ', name)
    print('Age: ', age)
    print('Company: ', company)
details('aditya', 22)

Name:  aditya
Age:  22
Company:  Microsoft

In [17]:
details('ankita',22,'Hexaware')

Name:  ankita
Age:  22
Company:  Hexaware

### Variable length argument

In [18]:
def details(name, age, *company):
    print('Name: ', name)
    print('Age: ', age)
    print('Company: ', company)
details('aditya', 22, 'Microsoft','Google','Citus' )

Name:  aditya
Age:  22
Company:  ('Microsoft', 'Google', 'Citus')

In [19]:
def details(name, age, **company):
    print('Name: ', name)
    print('Age: ', age)
    print('Company: ', company)
details('aditya', 22, company_1='Microsoft',company_2='Google',company_3='Citus' )

Name:  aditya
Age:  22
Company:  {'company_1': 'Microsoft', 'company_2': 'Google', 'company_3': 'Citus'}

## : Run in circles

In [20]:
a = [1,2,3,4,5,6,8,5,5]
a

[1, 2, 3, 4, 5, 6, 8, 5, 5]

In [21]:
for i in a:
    print(i)

1
2
3
4
5
6
8
5
5

In [26]:
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [29]:
###### Create a function which holds for loop
def table(a):
    for i in range(1,11):
        print(i * a)

In [31]:
table(15)

15
30
45
60
75
90
105
120
135
150